.buttons {
  text-align: center;
  border-radius: 30px;
}
/* Creates my button click */
.buttons:not(.disable-hover):active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.blob-btn {
  z-index: 1;
  position: relative;
  text-align: center;
  color: var(--white);
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn-text {
  color: var(--black);
}

.blob-btn-text-active {
  box-shadow: 0 11px 17px 0 rgba(0,0,0,0.2), 0 8px 22px 0 rgba(0,0,0,0.19);
  transition: box-shadow 0.2s;
  color: var(--accent) !important;
}


.blob-btn-text:not(.disable-hover):hover {
  color: var(--white) !important;
}


.blob-btn-text-white {
  color: var(--black);
}

.blob-btn-text-white:hover {
  color: var(--accent) !important;
}

.blob-btn-text-home {
  color: white;
  border: 2px solid var(--black);
}

.blob-btn-nav-border:hover {
  border: 4px solid var(--accent);
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--black);
  border-radius: 30px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: var(--black);
  border-radius: 30px;
}

.blob-btn-black {
  color: var(--white) !important;
}

.blob-btn-black:hover {
  color: var(--accent) !important;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--white);
}

.blob-btn_inner-black {
  background: var(--black) !important;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: var(--black);
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

.blob-btn_blob-home {
  background: var(--accent) !important;
}

.blob-btn__blob-orange {
  background: var(--white) !important;
}

@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}
