.button {
  display: inline-flex;
  height: 43px;
  background-color: #e9905a;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative; /* Needed for absolutely positioned child */
  cursor: pointer;
}

.button:hover {
  color: var(--white); /* Optional: match your hover palette */
}

#arrow-hover {
  width: 24px;
  height: 10px;
  position: absolute;
  transform: translateX(60px);
  opacity: 0;
  transition-delay: 0.8s;
  transition: all 0.2s cubic-bezier(0.14, 0.59, 1, 1.01);
  margin: 0 8px;
  padding: 0 5px;
}

.button:hover #arrow-hover {
  opacity: 1;
  transform: translateX(50px);
}

.button:active {
  transform: scale(0.97);
  transition: transform 0.6s ease-in-out;
}
